.follower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  height: 60px;
  padding: 10px;
  box-shadow: 2px 2px 4px #2a3038;
  .user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
  }
  .follow-link {
    color: var(--accent-color);
  }
}
